<header class="shadow-sm py-2 px-8 bg-white">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Profile or Logout Button -->
    <div class="flex items-center">
      <button *ngIf="isActive(); else logout" (click)="navigate('profile')" ariaCurrentWhenActive="page">
        <fa-icon [icon]="profileIcon" class="text-gray-800"></fa-icon>
      </button>
      <ng-template #logout>
        <button (click)="navigate('login')" ariaCurrentWhenActive="page">
          <fa-icon [icon]="logoutIcon" class="text-gray-800"></fa-icon>
        </button>
      </ng-template>
    </div>

    <!-- Navigation Icons -->
    <button (click)="navigate('home')" ariaCurrentWhenActive="page" *ngIf="currentPage()">
      <fa-icon [icon]="homeIcon" class="text-red-700"></fa-icon>
    </button>
  </div>
</header>