<div *ngIf="calendarDays.length" class="mt-4">
    <h5 class="text-lg font-medium mb-2">Календар епізодів поточного сезону:</h5>
    <div class="grid grid-cols-7 gap-2">
        <div *ngFor="let day of calendarDays" class="p-2 border rounded-lg" [ngClass]="{'bg-blue-100': isToday(day)}">
            <div class="text-center font-semibold text-xs" [ngClass]="{'text-blue-500': isToday(day)}">{{ day | date:
                'dd MMM' }}</div>
            <ul class="mt-2 space-y-1">
                <li *ngFor="let episode of episodesForDay(day)" class="text-xs flex flex-col items-center">
                    <img [src]="'data:image/jpg;base64,' + episode.anime.image" alt="{{ episode.anime.title_en }}"
                        class="w-8 h-8 rounded-full mb-1">
                    <span class="text-gray-800 text-xs">{{ episode.title }}</span>
                    <span class="text-gray-600 text-xs">{{ episode.air_date | date: 'shortTime' }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>