<div class="container mx-auto max-w-md mt-20 p-6 bg-white rounded-lg shadow-md">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div class="form-group">
      <label for="username" class="block text-sm font-medium text-gray-700">Ім'я користувача</label>
      <input type="text" formControlName="username" id="username" required class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="form-group">
      <label for="password" class="block text-sm font-medium text-gray-700">Пароль</label>
      <input type="password" formControlName="password" id="password" required class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
        <label for="remember-me" class="ml-2 block text-sm text-gray-900">Запам'ятати мене</label>
      </div>

      <div class="text-sm">
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Забули пароль?</a>
      </div>
    </div>
    <div>
      <button type="button" routerLink='/register' routerLinkActive="active" class="w-full flex justify-center py-2 px-4 mt-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-indigo-600 bg-transparent hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <fa-icon [icon]="enterIcon" class="pr-2"></fa-icon>
        Реєстрація
      </button>
    </div>
    <div>
      <button type="submit" routerLink='/home' routerLinkActive="active" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <fa-icon [icon]="loginIcon" class="pr-2"></fa-icon>
        Увійти
      </button>
    </div>
  </form>
</div>
