<!-- register.component.html -->
<div class="container mx-auto max-w-md mt-20 p-6 bg-white rounded-lg shadow-md">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div class="form-group">
      <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
      <input type="text" formControlName="username" id="username" required class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="form-group">
      <label for="password" class="block text-sm font-medium text-gray-700">Пароль</label>
      <input type="password" formControlName="password" id="password" required class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="form-group">
      <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Підтвердіть пароль</label>
      <input type="password" formControlName="confirmPassword" id="confirmPassword" required class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div>
      <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <fa-icon [icon]="logInIcon" class="pr-2"></fa-icon> Зареєструватись
      </button>
    </div>
  </form>
</div>
