<!-- switcher.component.html -->
<div class="flex space-x-4">
  <button (click)="onClick('all')"
    class="flex flex-col justify-center px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300">
    <fa-icon [icon]="allIcon" class="text-lg" appBounceOnHover></fa-icon>
    <span>All</span>
  </button>
  <button (click)="onClick('watched')"
    class="flex flex-col items-center justify-center px-4 py-2 bg-red-500 text-black rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-300">
    <fa-icon [icon]="watched" class="text-lg"></fa-icon>
    <span>Watched</span>
  </button>
  <button (click)="onClick('watching')"
    class="flex flex-col items-center justify-center px-4 py-2 bg-green-500 text-black rounded hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300">
    <fa-icon [icon]="watching" class="text-lg"></fa-icon>
    <span>Watching</span>
  </button>
  <button (click)="onClick('custom')"
    class="flex flex-col items-center justify-center px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-red-400">
    <fa-icon [icon]="bookmark" class="text-lg mb-1" appFadeOnHover></fa-icon>
    <span>Custom</span>
  </button>

</div>

<ng-container [ngSwitch]="currentComponent">
  <!-- Кнопка для показу/приховування налаштувань стовпців -->
  <div class="p-4 flex justify-between items-center">
    <button (click)="toggleColumnSettings()"
      class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
      {{ showColumnSettings ? 'Приховати налаштування стовпців' : 'Показати налаштування стовпців' }}
    </button>
    <div class="flex space-x-2">
      <button class="bg-green-500 hover:bg-green-700 text-black font-bold py-2 px-4 rounded"
        (click)="UiModalComponent.openModal('add', row, '')">
        <fa-icon [icon]="write"></fa-icon>
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        (click)="UiModalComponent.openModal('url', row, '')">
        <fa-icon [icon]="url"></fa-icon>
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="uploadSeson()">
        <fa-icon [icon]="upload"></fa-icon>
      </button>
    </div>
  </div>


  <!-- Налаштування стовпців (видиме тільки коли showColumnSettings == true) -->
  <div class="p-4" *ngIf="showColumnSettings">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Вибір стовпців</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div *ngFor="let key of objectKeys(displayedColumns)">
        <label class="inline-flex items-center">
          <input type="checkbox" [(ngModel)]="displayedColumns[key]" class="form-checkbox">
          <span class="ml-2">{{ row[key] }}</span>
        </label>
      </div>
    </div>
  </div>

  <app-ui-table [displayedColumns]="displayedColumns" [rows]="row" *ngSwitchCase="'all'"
    [table_type]="'all'"></app-ui-table>
  <!-- <app-ui-table [displayedColumns]="displayedColumns" [rows]="row" [table_type]="'watched'"
    *ngSwitchCase="'watched'"></app-ui-table>
  <app-ui-table [displayedColumns]="displayedColumns" [rows]="row" [table_type]="'watching'"
    *ngSwitchCase="'watching'"></app-ui-table> -->
  <!-- Додайте інші компоненти за потребою -->
</ng-container>

<app-ui-modal #UiModalComponent></app-ui-modal>